md-toolbar.md-padding.lightBlue(layout='row' layout-align='start end')
  div
    h2 TAGS
    
    creator
      
md-content.md-padding
  form(
    ng-submit='submit()'
    name='form'
    role='form'
    novalidate)
    

    md-autocomplete(
      placeholder="Busca o crea un nuevo tag"
      md-items='tag in searchTags(text)'
      md-selected-item='selectedTag'
      md-search-text='text'
      md-autoselect='true'
      md-item-text='tag')
      
      span(md-highlight-text='text') {{ tag }}
    md-tooltip Un tag puede servirte para identificar un proyecto o tarea    
      
    md-button(
      ng-disabled='selectedTag || !text || submitting'
      type='submit') crear
      
      
