md-toolbar
  .md-padding.lightBlue
    h1 EMEETER

      
md-content
  div(layout='column' layout-align="center start")
    h3 Grupos
    
    a.md-button(ng-href='/groups')
      md-icon(md-font-icon='material-icons') chevron_left
      | Volver   
  
  div(layout-padding)
  
  form(
    ng-submit='data.members.length && form.$valid && submit()'
    role='form'
    name='form')

    md-input-container.form-group
        span.input-group-addon
          md-icon(md-font-icon='material-icons') edit
        input.form-control(
          placeholder='Nombre del grupo',
          ng-model='data.name',
          required)
              
      div.form-group
        h4 Miembros
        
        div.input-group(ng-repeat='member in members.list')
          md-icon(md-font-icon='material-icons') person
          | {{ member.profile.name || member.email }}
          
          md-button
            md-icon(md-font-icon='material-icons' ng-click='members.remove($index)') remove_circle

        p(ng-hide='data.members.length') No has agregado miembros a este grupo.

      md-input-container.form-group(ng-hide='members.list.length === posibleMembers.length')
        div.input-group
          md-select.form-control(
            ng-change='members.add()'
            ng-model='form.member'
            placeholder="Selecciona un nuevo miembro")

            md-option(
              ng-repeat='member in posibleMembers',
              value='{{ $index }}')
              | {{ member.profile.name || member.email }}

    div(layout='row')
      md-button(ng-href='/groups')
        md-icon(md-font-icon='material-icons') chevron_left
        | Cancelar

      md-button(
        ng-disabled='form.$invalid',
        type='submit')
        | Crear
        md-icon(md-font-icon='material-icons') chevron_right
