md-toolbar.md-padding.lightBlue(layout='row' layout-align='start end')
  div
    h2 GRUPOS

md-content.md-padding
  md-button.md-fab.md-warn(ng-href='/groups')
    md-icon(md-font-icon='material-icons') chevron_left  
  
  div(layout-padding)
  
  form(
    ng-submit='form.$valid && submit()'
    role='form'
    name='form')

    md-input-container.form-group
      span.input-group-addon
        md-icon(md-font-icon='material-icons') edit
      label Nombre
      input.form-control(
        ng-model='data.name'
        required)
              
    div.form-group(layout='row')
      p Miembros
      
      md-button(type='button')
        md-icon(md-font-icon='material-icons') person
        | {{ session.user.profile.name || session.user.email }}
        
      md-button(ng-repeat='member in members.list' type='button')
        md-icon(md-font-icon='material-icons') person
        | {{ member.user.profile.name || member.user.email }}
        md-icon(md-font-icon='material-icons' ng-click='members.remove($index)') remove_circle
          
    md-divider
      
    md-input-container.form-group(ng-hide='members.list.length === posibleMembers.length')
      label Selecciona un miembro
      md-select.form-control(
        ng-change='members.add()'
        ng-model='form.member')

        md-option(
          ng-repeat='member in posibleMembers'
          value='{{ $index }}')
          | {{ member.user.profile.name || member.user.email }}

    div(layout='row')
      md-button(ng-href='/groups')
        md-icon(md-font-icon='material-icons') chevron_left
        | Cancelar

      md-button(
        ng-disabled='form.$invalid'
        type='submit')
        | Crear
        md-icon(md-font-icon='material-icons') chevron_right
