md-toolbar.md-padding.lightBlue(layout='row' layout-align='start end')
  div
    h2 {{ session.group.profile.name }} : MIEMBROS

md-content
  div(layout='row')
    md-button.md-fab.md-warn(ng-href='/groups/{{session.group._id}}/members')
      md-icon(md-font-icon='material-icons') chevron_left
           
  div(ng-show='fetching && !contacts')        
    md-icon(md-font-icon='material-icons') sync
    | Buscando contactos
      
  div(ng-show='!fetching && contacts')
    h3 Miembros del grupo 
      
    md-button.md-raised(ng-repeat='member in members.list')
      | {{ member.user.email }}
      md-icon(md-font-icon='material-icons' ng-click='members.remove($index)') close

    md-input-container
      label Agrega miembros
      md-select(
        ng-change='members.add()'
        ng-model='form.member')
        
        md-option(
          ng-repeat='contact in contacts'
          value='{{ $index }}')
          | {{ contact.user.email }}
    
    div(layout='row')
      md-button(ng-href='/groups/{{session.group._id}}/profile')
        md-icon(md-font-icon='material-icons') chevron_left
        | Cancelar

      md-button(
        ng-disabled='!members.list.length'
        ng-click='submit()')
        
        | Listo
        md-icon(md-font-icon='material-icons') check
