md-toolbar.md-padding.lightBlue(layout='row' layout-align='start end')
  md-button(ng-href='/')
    h2 EMEETER

md-content
  div(layout='column' layout-align="center start")    
    h3 {{ session.group.profile.name }}
    
    a.md-button(ng-href='/groups/{{session.group._id}}/profile')
      md-icon(md-font-icon='material-icons') chevron_left
      | Volver
  
  md-button(ng-href='/groups/{{session.group._id}}/entries/create')
    md-icon(md-font-icon='material-icons') add
    | Crear Entrada
  
  md-grid-list(
      md-gutter="12px" md-gutter-gt-sm="8px"
      md-cols="4"
      md-row-height="1:1"
      ng-show='!fetching && entries')
      
    md-grid-tile(
      md-rowspan="1"
      md-colspan="1"
      ng-repeat='entry in entries'
      ng-init='href = ("/groups/" + session.group._id + "/entries/{0}/detail" | format : entry._id)')
        md-button(ng-href='{{ href }}')
        h3 {{ entry.title }}
