- var component = '/assets/components';

//- Include other libraries
script(src='/socket.io/socket.io.js')
script(src='/assets/components/moment/min/moment-with-locales#{ suffix }.js')
script(src='/assets/components/d3/d3.js')

//- Angular and related
script(src='#{ component }/angular/angular.js')
script(src='#{ component }/angular-route/angular-route#{ suffix }.js')
script(src='#{ component }/angular-aria/angular-aria#{ suffix }.js')
script(src='#{ component }/angular-animate/angular-animate#{ suffix }.js')
script(src='#{ component }/angular-material/angular-material#{ suffix }.js')
script(src='#{ component }/angular-i18n/angular-locale_es-cl.js')
script(src='#{ component }/ng-file-upload/ng-file-upload#{ suffix }.js')

//- Angular application client script
script(src='/assets/scripts/client#{ suffix }.js')
