md-toolbar.md-padding.lightBlue(layout='row' layout-align='start end')
  div
    h2 Buscar
    
    md-button(ng-href='/search')
      md-icon(md-font-icon='material-icons') more
      | Entradas
  
    md-button(ng-href='/contacts')
      md-icon(md-font-icon='material-icons') group
      | Personas
      
md-content.md-padding
  form(ng-submit='search()')
    md-input-container
      label Palabras Clave
      input(ng-model='keywords' required)
    
    md-button(ng-disabled='!keywords || searching' type='submit')
      md-icon(md-font-icon='material-icons' ) search
    
  md-grid-list(
    ng-show='entries',
    md-gutter="12px",
    md-gutter-gt-sm="8px",
    md-cols-sm="1",
    md-cols-md="2",
    md-cols-gt-lg="4",
    md-row-height="1:1")
    md-grid-tile.whitebg(
      layout='column',
      ng-repeat='entry in entries',
      md-rowspan='1',
      md-colspan='1')
      em-card(card='entry' ng-click='$navigateTo("/entries/" + entry._id + "/detail")')
    
