extends layout

block content
  h1= title
  
  a(href='/') home
  br
  if user
    h3 #{user.username}
    h4 contactos
    if contactos
      ul
        each contact in contactos
          li: p #{contact.username}
            a(href='/users/delContact/#{contact._id}/#{user._id}') del
    else
       p No tienes contactos.
    h4 usuarios
    form(method="post" action="/users/search/#{user._id}")
        input(
          type='text'
          name='username'
          placeholder='username'
          required
        )
        br
        input(type="submit", value="search")
        br
    ul
      each usr in users
        li: p #{usr.username}
          a(href='/users/addContact/#{usr._id}/#{user._id}') add
    br  
    input(type ="button", id="deleteUserBtn", value="Delete this user")
  else
    if users
        h4 users
        form(method="post" action="/users/search")
            input(
              type='text'
              name='username'
              placeholder='username'
              required
            )
            br
            input(type="submit", value="search")
            br
        ul
        each usr in users
          li: a(href='/users/#{usr._id}') #{usr.username}       
    else
      p No hay usuarios registrados.
      
    
  script(src='/javascripts/jquery.min.js')
  script(src='/javascripts/main.js')