md-toolbar.md-padding.lightBlue(layout='row' layout-align='start end')
  div
    h2 {{ session.group.profile.name }}
    
    div(layout='row')
      md-button.md-fab.md-warn(ng-href='/groups/{{session.group._id}}/meetings/create')
        md-icon(md-font-icon='material-icons') add
        
      group-items  
      
md-content.md-padding(layout='column')  
  div(ng-show='!fetching && meeting')
    md-button(
      ng-show='meeting.completed'
      ng-click='reOpen()')
      | Abrir
      
    md-button(
      ng-show='!meeting.completed'
      ng-click='close()')
      | Cerrar    
    
    div
      h3 {{ meeting.objective }}
    
    div
      h4 {{ meeting.completed && ("Completada el " + (meeting.completed | toLocal)) || "Abierta"}}

    div(layout='row')  
      md-input-container
        label Fecha de Entrega
        input.form-control(
          ng-change='dateTimeChanged = true'
          ng-disabled='meeting.completed'
          ng-model='meeting.dateTime'
          type='date')
      
      md-button(ng-click='editDateTime()' ng-show='!meeting.completed' ng-disabled='!dateTimeChanged') 
        md-icon(md-font-icon='material-icons') edit
        | Editar
    
    div(ng-show='!meeting.notes.length')
      p No hay notas
    
    div(ng-show='meeting.notes.length')
      p Notas:
    
    div
      div(ng-repeat='note in meeting.notes', ng-show='meeting.notes.length')
        p * {{ note.note }}
          md-icon(md-font-icon='material-icons' ng-show='!meeting.completed' ng-click='removeNote(note.note)' ) close
          
    div(ng-show='!meeting.completed')
      textarea(ng-model='note')
      md-button(ng-click='addNote(note)' ng-disabled='!note') Agregar
        
    md-button(ng-href='/groups/{{session.group._id}}/meetings/{{meeting._id}}/attendants')
      md-icon(md-font-icon='material-icons') group
      | Asistentes
    
      
              
      
  
