md-progress-circular.main-background(ng-show='fetching' md-mode='indeterminate')      
      
md-content.main-background.md-padding
  md-grid-list(
    md-gutter="12px",
    md-gutter-gt-sm="8px",
    md-cols-sm="1",
    md-cols-md="2",
    md-cols-gt-lg="4",
    md-row-height="1:1")
    md-grid-tile.whitebg(
      layout='column',
      ng-repeat='task in tasks',
      md-rowspan='1',
      md-colspan='1')
      em-card(card='task')
  
  div(ng-show='!fetching && !tasks.length')          
    md-icon(md-font-icon='material-icons') panorama_fish_eye
    | No estas colaborando en tareas
