md-toolbar.md-padding.lightBlue(layout='row' layout-align='start end')
  div
    h2 TAREAS
    
    md-button(ng-href='/tasks/collaborator')  Mis Tareas
      
    md-button(ng-href='/tasks/own')  Tareas Creadas
    
md-button.md-fab.md-warn(ng-href='/tasks/collaborator')
  md-icon(md-font-icon='material-icons') chevron_left

md-content
  form(
    ng-submit='form.$valid && submit()',
    role='form',
    name='form')

    md-input-container.form-group
      label Objetivo
      input.form-control(
        ng-model='data.objective'
        required)

    md-input-container.form-group
      label Prioridad
      md-select.form-control(
        ng-model='data.priority'
        required)
        
        md-option(ng-repeat='priority in statics.priorities'
        ng-value='priority._id') {{ priority.name }}
      
    md-input-container.form-group
      label Fecha de Entrega
      input.form-control(
        ng-model='data.dateTime'
        type='date')
              
    div(layout='row')
      md-button(ng-href='/tasks/collaborator')
        md-icon(md-font-icon='material-icons') chevron_left
        | Cancelar

      md-button(
        ng-disabled='form.$invalid',
        type='submit')
        | Crear
        md-icon(md-font-icon='material-icons') chevron_right
