md-content.border(layout='row', layout-align='start center', layout-padding)

  p(flex='40')
    strong Fecha límite
    br
    | {{ activeCard.relevantDate && (activeCard.relevantDate | fromNow) || 'Sin Fecha de Entrega'}}
  
  p(flex='40', ng-click="showWorkedTime()")
    strong Tiempo trabajado
    br
    | {{ 'Tiempo trabajado...' || 'Sin información'}}
    
  md-button.md-icon-button(
      ng-if='activeCard._id && !activeCard.completed',
      ng-click="toggleWorking(activeCard._id)",
      aria-label='emcard-detail',
      style="line-height: 0.2em;")

    md-icon(md-font-icon='material-icons') play_circle_outline
    md-tooltip {{ (activeCard._id && "Iniciar un sprint")}} 

md-content(layout='row', layout-align='start start', layout-padding)
  p(flex='50') 
    strong Prioridad
    br
    | {{ activeCard.priority.name || 'Sin información'}}
  
  p(flex='50') 
    strong Grupo
    br
    | {{ activeCard.group.profile.name || 'Sin información'}}

md-content(layout='row', layout-align='start start', layout-padding)
  p(flex='50')
    strong Creador
    br
    | {{ activeCard.creator.profile.name || activeCard.creator.email || 'Sin información'}}
  
  p(flex='50') 
    strong Colaboradores ({{ activeCard.collaborators.length }})
    br
    span(ng-repeat='collaborator in activeCard.collaborators') 
      | {{ collaborator.user.email || 'Sin información'}}
      br


md-content(layout='column', layout-align='start start', layout-padding)
  p(flex='50') 
    strong Tags
  md-chips(
    flex='50',
    ng-model='activeCard.tags'
    readonly='true')
    md-chip-template {{ $chip }}

div(layout-padding)
  md-content(layout='column', layout-align='start start', layout-padding)
    p
      strong Actividades ({{ activeCard.activities.length }})
      
    md-checkbox(ng-repeat='activity in activeCard.activities'
      ng-disabled='activeCard.completed',
      ng-click='toggleActivity(activity)',
      ng-checked='activity.checked',
      aria-label='task-activity')
      | {{ activity.description }} - {{ activity.checked && (activity.checked | fromNow) || '' }}
      
        
  md-content(layout='column', layout-align='space-around start', layout-padding)
    p 
      strong Notas ({{ activeCard.notes.length }})
      br
      span(ng-repeat='note in activeCard.notes') 
        | - {{ note.note || 'Sin información'}}
        br
          
div(layout='row', layout-align='center center')
  md-button(
    ng-if='activeCard.completed'
    ng-click='reOpenTask()')
    | Abrir
    
  md-button(
    ng-if='!activeCard.completed'
    ng-click='closeTask()')
    | Cerrar  
