div(layout='column', layout-align='start space-arround', style="padding: 0 1.5em 0 1.5em;")
  md-content(layout='row', layout-align='start start', style="padding-top: 1em;")
    div(layout='row', style="padding-right: 3em;")
      md-icon(md-font-icon='material-icons', style="padding-right: 0.5em;") group
      p
        | Grupo
        br
        strong {{ activeCard.group.profile.name || 'Sin información'}}

    div(layout='row')
      md-icon(md-font-icon='material-icons', style="padding-right: 0.5em;") turned_in_not
      p
        | Prioridad
        br
        strong {{ activeCard.priority.name || 'Sin información'}}

  md-content(layout='column', layout-align='start start')
    div(layout='row')
      md-icon(md-font-icon='material-icons', style="padding-right: 0.5em;") schedule
      p
        | Fecha límite
        br
        strong {{ activeCard.relevantDate | toLocal }} - {{ activeCard.relevantDate && (activeCard.relevantDate | fromNow) || 'Sin Fecha de Entrega'}}
   
  md-content.border(layout='column', layout-align='start start', style="padding-bottom: 1em;")
    div(layout='row')
      md-icon(md-font-icon='material-icons', style="padding-right: 0.5em;") person
      p
        | Participantes ({{ activeCard.collaborators.length }})
        br
        span(ng-repeat='collaborator in activeCard.collaborators') 
          strong {{ collaborator.user.email || 'Sin información'}}
          br
  
  md-content(ng-show='activeCard.tags[0]', layout='column', layout-align='start start')
    p
      strong Tags
    md-chips.light.borderless(
      ng-model='activeCard.tags'
      readonly='true')
      md-chip-template {{ $chip }}

  md-content.border(layout='column', layout-align='start start', layout-padding)
    p
      strong Actividades ({{ activeCard.activities.length }})
      
    md-checkbox.em-checkbox(ng-repeat='activity in activeCard.activities'
      ng-disabled='activeCard.completed',
      ng-click='toggleActivity(activity)',
      ng-checked='activity.checked',
      aria-label='task-activity')
      | {{ activity.description }} - {{ activity.checked && (activity.checked | fromNow) || '' }}
    
    p
      strong Notas ({{ activeCard.notes.length }})
    
  md-content(layout='column', layout-align='center center', layout-padding, style="padding-top: 1em;")
    p Iniciar Tarea 
    md-switch
    h1(style="color: #A8A8Ab; font-weight: 300; font-size: 300%;") 0:00:01
    
  div(layout='row', layout-align='end center', style="position: absolute; bottom: 1em; right: 1em;")
    md-button.light-blue-font(
      ng-if='activeCard.completed'
      ng-click='reOpenTask()')
      | Continuar Tarea
      
    md-button.light-blue-font(
      ng-if='!activeCard.completed'
      ng-click='closeTask()')
      | Tarea Lista
    
    md-button.light-blue-font(
      ng-click='close()')
      | Cerrar  
