md-toolbar.md-padding.lightBlue(layout='row' layout-align='start end')
  md-button(ng-href='/')
    h2 {{ session.group.profile.name }} : TAREAS

md-content
  div(layout='row')
    md-button.md-fab.md-warn(ng-href='/groups/{{session.group._id}}/profile')
      md-icon(md-font-icon='material-icons') chevron_left

  form(
    ng-submit='form.$valid && submit()',
    role='form',
    name='form')

    md-input-container.form-group
      input.form-control(
        placeholder='Objetivo',
        ng-model='data.objective',
        required)

    md-input-container.form-group
      md-select.form-control(
        ng-model='data.priority'
        placeholder='Prioridad'
        required)
        
        md-option(ng-repeat='priority in statics.priorities'
        ng-value='priority._id') {{ priority.name }}
            
    div(layout='row')
      md-button(ng-href='/groups/{{session.group._id}}/profile')
        md-icon(md-font-icon='material-icons') chevron_left
        | Cancelar

      md-button(
        ng-disabled='form.$invalid',
        type='submit')
        | Crear
        md-icon(md-font-icon='material-icons') chevron_right
