div.panel.panel-default
  div.panel-heading
    h3.panel-title
      i.fa.fa-mr.fa-tasks
      | Crear Tarea

  form(
    ng-submit='form.$valid && submit()',
    role='form',
    name='form')

    div.panel-body
      div.form-group
        div.input-group
          span.input-group-addon
            i.fa.fa-fw.fa-pencil

          input.form-control(
            placeholder='Objetivo',
            ng-model='data.objective',
            required)

      div.form-group
        div.input-group
          span.input-group-addon
            i.fa.fa-fw.fa-dot-circle-o

          select.form-control(
            ng-options='priority.id as priority.name for priority in statics.priorities',
            ng-model='data.priority',
            required)
            
            option(value='', hidden, disabled, selected) Prioridad

    div.panel-footer
      div.btn-group.btn-group-grid
        a.btn.btn-lg.btn-default(ng-href='/group/""/tasks')
          i.fa.fa-mr.fa-chevron-left
          | Cancelar

        button.btn.btn-default.btn-lg(
          ng-disabled='form.$invalid',
          type='submit')

          | Crear
          i.fa.fa-ml.fa-chevron-right
