md-toolbar.md-padding.lightBlue(layout='row' layout-align='start end')
  div
    h2 {{ session.group.profile.name }}
    
    div(layout='row')
      md-button.md-fab.md-warn(ng-href='/groups/{{session.group._id}}/tasks/create')
        md-icon(md-font-icon='material-icons') add
        
      md-button(ng-href='/groups/{{session.group._id}}/members')
        md-icon(md-font-icon='material-icons') group
        | Miembros
        
      md-button(ng-href='/groups/{{session.group._id}}/tasks')
        md-icon(md-font-icon='material-icons') more
        | Tareas  
      
      md-button(ng-href='/groups/{{session.group._id}}/entries/note')
        md-icon(md-font-icon='material-icons') speaker_notes
        | Notas
        
      md-button(ng-href='/groups/{{session.group._id}}/entries/document')
        md-icon(md-font-icon='material-icons') developer_board
        | Documentos  
        
      md-button(ng-href='/groups/{{session.group._id}}/entries/image')
        md-icon(md-font-icon='material-icons') image
        | Imágenes 
      
md-content.md-padding
  div(ng-show='!fetching && members')
    form(
      ng-submit='form.$valid && submit()'
      role='form'
      name='form')

      md-input-container.form-group
        label Objetivo
        input.form-control(
          ng-model='data.objective'
          required)

      md-input-container.form-group
        label Prioridad
        md-select.form-control(
          ng-model='data.priority'
          required)
          
          md-option(ng-repeat='priority in statics.priorities'
          ng-value='priority._id') {{ priority.name }}
          
      md-input-container.form-group
        label Fecha de Entrega
        input.form-control(
          ng-model='data.dateTime'
          type='date')
          
      div(layout='row')  
        h4 Collaboradores
          
        md-button.md-raised(ng-repeat='collaborator in collaborators.list' type='button')
          | {{ collaborator.user.email }}
          md-icon(md-font-icon='material-icons' ng-click='collaborators.remove($index)') close
      
      md-divider
      
      md-input-container
        label Agrega colaboradores
        md-select(
          ng-change='collaborators.add()'
          ng-model='form.collaborator')
          
          md-option(
            ng-repeat='member in members'
            value='{{ $index }}')
            | {{ member.user.email }}
              
      div(layout='row')
        md-button(ng-href='/groups/{{session.group._id}}/profile')
          md-icon(md-font-icon='material-icons') chevron_left
          | Cancelar

        md-button(
          ng-disabled='form.$invalid',
          type='submit')
          | Crear
          md-icon(md-font-icon='material-icons') chevron_right
