div.container
  div.row
    div.col-sm-8.col-sm-offset-2
      div.page-header
        h1 Recuperar cuenta

      div.panel.panel-default
        div.panel-heading
          h3.panel-title
            i.fa.fa-mr.fa-fw.fa-user
            |Datos de la cuenta

        form(
          name='form'
          role='form'
          ng-submit='form.$valid && submit()'
          novalidate)

          div.panel-body
            div.input-group
              span.input-group-addon
                i.fa.fa-at.fa-fw

              input.form-control(
                placeholder='Ingrese su email',
                ng-model='form.email',
                type='email',
                required)

          div.panel-footer
            div.btn-group-grid
              a.btn.btn-lg.btn-default(ng-href='/')
                i.fa.fa-mr.fa-fw.fa-chevron-left
                |Ya tengo mi clave

              button.btn.btn-lg.btn-main.btn-default(
                ng-disabled='form.$invalid || submitting',
                type='submit')

                |Enviar
                i.fa.fa-ml.fa-fw(class='fa-{{ submitting && "circle-o-notch fa-spin" || "send" }}')
