md-toolbar.md-padding.lightBlue(layout='row' layout-align='start end')
  div
    h2 EMEETER
    
md-progress-circular(ng-show='submitting' md-mode='indeterminate')     

md-content.md-padding
  md-icon(md-font-icon='material-icons') edit
  |Crear nueva clave
  
  form(
    ng-submit='form.$valid && submit()'
    name='form'
    role='form'
    novalidate)
  
    md-input-container
      label Ingresa tu nueva clave
      input.form-control(
        ng-disabled='submitting'
        ng-model='form.password'
        ng-minlength='4'
        type='password'
        required)

    md-input-container
      label Confirma tu nueva clave
      input.form-control(
        ng-disabled='form.password.length < 4 || submitting'
        ng-model='form.vpassword'
        ng-minlength='4'
        type='password'
        required)


    md-button(
      ng-disabled='form.$invalid || submitting || form.password !== form.vpassword'
      type='submit')  
      | Cambiar clave
      md-icon(md-font-icon='material-icons') check
  
