div.container
  div.row
    div.col-md-6.col-md-offset-3.col-lg-4.col-lg-offset-4
      div.panel.panel-default
        div.panel-heading
          h3.panel-title
            md-icon(md-font-icon='material-icons') edit
            |  Sign In
  
        form(
          name='form',
          role='form',
          ng-submit='form.$valid && submit()',
          novalidate)
  
          md-input-container.form-group
            span.input-group-addon
              md-icon(md-font-icon='material-icons') 
  
            input.form-control(
              placeholder='Ingresa tu email',
              ng-model='form.email',
              type='email',
              required)
  
          md-input-container.form-group
            span.input-group-addon
              md-icon(md-font-icon='material-icons') 
  
            input.form-control(
              placeholder='Ingresa tu clave',
              ng-model='form.password',
              ng-minlength='4',
              type='password',
              required)
  
          div.panel-footer.text-right
            a.md-button(ng-href='/users/signup') No tengo cuenta
  
            a.md-button(ng-href='/users/recover') Olvidé mi clave
  
            md-button(
              ng-disabled='form.$invalid || submitting',
              type='submit')
  
              md-icon(md-font-icon='material-icons')
              |  Sign In
