md-toolbar.md-padding.lightBlue(layout='row' layout-align='start end')
  div
    h2 {{ session.group.profile.name }} : DOCUMENTOS

md-content
  div(layout='row')
    md-button.md-fab.md-warn(ng-href='/groups/{{session.group._id}}/profile')
      md-icon(md-font-icon='material-icons') chevron_left
       
    md-button.md-fab.md-warn(ng-href='/groups/{{session.group._id}}/entries/documents/create')
      md-icon(md-font-icon='material-icons') add
  
  md-grid-list(
      md-gutter="12px" md-gutter-gt-sm="8px"
      md-cols="4"
      md-row-height="1:1"
      ng-show='!fetching && entries')
      
    md-grid-tile(
      md-rowspan="1"
      md-colspan="1"
      ng-repeat='entry in entries'
      ng-init='href = ("/groups/" + session.group._id + "/entries/{0}/detail" | format : entry._id)')
        md-button(ng-href='{{ href }}')
        h3 {{ entry.title }}
