md-toolbar.md-padding.lightBlue(layout='row' layout-align='start end')
  md-button(ng-href='/')
    h2 EMEETER

div.md-padding
  h2.md-title Validar cuenta
  div(layout="row", layout-margin)
    div(flex)
      h2.md-title
        md-icon(md-font-icon='material-icons') person
        |  Datos de la cuenta

      form(
        ng-submit='form.$valid && submit()'
        name='form'
        role='form'
        novalidate)

        md-input-container.form-group
          span.input-group-addon
            md-icon(md-font-icon='material-icons') 
          label Ingresa tu clave
          input.form-control(
            ng-model='data.password'
            ng-minlength='4'
            type='password'
            required)

        div(layout='row')
          md-button(
            ng-disabled='form.$invalid'
            type='submit')

            md-icon(md-font-icon='material-icons') check
            | Estoy listo
