md-toolbar.md-padding.lightBlue(layout='row' layout-align='start end')
  div
    h2 REUNIONES
    
    div(layout='row')
      creator
        
      md-button.md-raised(ng-href='/meetings/attendant')  Mis Reuniones
        md-tooltip Reuniones a las que asistir
        
      md-button(ng-href='/meetings/creator')  Reuniones Creadas
        md-tooltip Reuniones que he creado 
      
md-progress-circular.main-background(ng-show='fetching' md-mode='indeterminate')
            
md-content.main-background.md-padding
  md-grid-list(
    md-gutter="12px",
    md-gutter-gt-sm="8px",
    md-cols-sm="1",
    md-cols-md="2",
    md-cols-gt-lg="4",
    md-row-height="1:1")
    md-grid-tile.whitebg(
      layout='column',
      ng-repeat='meeting in meetings',
      md-rowspan='1',
      md-colspan='1')
      em-card(card='meeting')
        
  div(ng-show='!fetching && !meetings.length')    
    md-icon(md-font-icon='material-icons') panorama_fish_eye
    | No tienes reuniones a las que asistir
