md-toolbar.md-padding.lightBlue(layout='row' layout-align='start end')
  div
    h2 REUNIONES
    
    creator
      
md-progress-circular(ng-show='fetching' md-mode='indeterminate')      
      
md-content.md-padding(ng-show='!fetching && groups')
  form(
    ng-submit='form.$valid && submit()'
    role='form'
    name='form')
    
    md-input-container
      label Grupo
      md-select(
        ng-change='fetchGroupMembers()'
        ng-model='data.group'
        required)
        
        md-option(
          ng-repeat='group in groups'
          value='{{ group._id }}')
          | {{ group.profile.name }}

    md-input-container.form-group
      label Objetivo
      input.form-control(
        ng-model='data.objective'
        required)
        
    md-input-container.form-group
      label Fecha
      input.form-control(
        ng-model='data.dateTime'
        type='date')
        
    div(layout='column')
      md-checkbox(
        ng-repeat='item in data.items'
        aria-label='meeting-item'
        ng-disabled='true')
        | {{ item.description }}
        
        md-icon(md-font-icon='material-icons' ng-click='removeItem($index)' ) close
      
      div(layout='row')
        md-input-container
          label Agrega un item...
          input(ng-model='item')    
        md-icon(md-font-icon='material-icons' ng-click='item && addItem(item)' ) add    
        
    div(layout='row')  
      h4 Tags
        
      md-chips(ng-model='data.tags')
        md-autocomplete(
          placeholder="Busca o crea un nuevo tag"
          md-items='tag in searchTags(text)'
          md-selected-item='selectedTag'
          md-search-text='text'
          md-autoselect='true'
          md-item-text='tag')
          
          span(md-highlight-text='text') {{ tag }} 

        
    div
      h4 Asistentes

      md-chips(
        ng-model='groupMembers'
        readonly='true')
        md-chip-template {{ $chip.user.email }}    

    div(layout='row')
      md-button(
        ng-disabled='form.$invalid || submitting',
        type='submit')
        | Crear
        md-icon(md-font-icon='material-icons') chevron_right
