md-toolbar.md-padding.lightBlue(layout='row' layout-align='start end')
  div
    h2 REUNIONES
    
    div(layout='row')
      creator
        
      group-items(ng-show='group' group)
        
md-progress-circular(ng-show='fetching' md-mode='indeterminate')        
      
md-content.md-padding(ng-show='!fetching && meeting' layout='column')        
  div
    h3 {{ meeting.objective }}

  div(layout='row')  
    md-input-containera
      label Fecha
      input.form-control(
        ng-change='dateTimeChanged = true'
        ng-disabled='meeting.completed'
        ng-model='meeting.dateTime'
        type='date')
    
    md-button(ng-click='editDateTime()' ng-show='!meeting.completed' ng-disabled='!dateTimeChanged') 
      md-icon(md-font-icon='material-icons') edit
      | Editar
  
  div(layout='column')
    md-checkbox(ng-repeat='item in meeting.items'
      ng-click='toogleItem(item)'
      ng-disabled='meeting.completed'
      ng-checked='item.checked'
      aria-label='meeting-item')
      | {{ item.description }}
      
      md-icon(md-font-icon='material-icons' ng-click='removeItem(item.description)' ) close
    
    div(layout='row' ng-show='!meeting.completed')
      md-input-container
        label Agrega un item...
        input(ng-model='item')    
      md-icon(md-font-icon='material-icons' ng-click='item && addItem(item)' ) add
  
  div(ng-show='!meeting.notes.length')
    p No hay notas
  
  div(ng-show='meeting.notes.length')
    p Notas:
  
  div
    div(ng-repeat='note in meeting.notes', ng-show='meeting.notes.length')
      p * {{ note.note }}
        md-icon(md-font-icon='material-icons' ng-show='!meeting.completed' ng-click='removeNote(note.note)' ) close
        
  div(ng-show='!meeting.completed')
    textarea(ng-model='note')
    md-button(ng-click='addNote(note)' ng-disabled='!note') Agregar  
  
  div
    h4 Asistentes
    md-chips(
      ng-model='meeting.attendants'
      readonly='true')
      md-chip-template {{ $chip.user.email }}
      
  div
    h5 Tags  
    md-chips(
      ng-model='meeting.tags'
      readonly='true')
      md-chip-template {{ $chip }}
  
