md-toolbar.md-padding.lightBlue(layout='row' layout-align='start end')
  div
    h2 EMEETER

md-content.darkGray(ng-show='session.user')

  div#maincontiner(layout='row')
    div(flex='70', em-graph)

    div.deepBlue(flex='30', style="color: white;")
      div(layout-padding)
        h3.md-title PENDIENTES

        md-list
          md-list-item(ng-repeat='pending in pendings | limitTo:3')
            div.md-list-item-text(flex='80')
              h4 {{ pending.title }}
              p {{ pending.description }}
            md-checkbox(flex, ng-click='gotIt(pending)')

          md-list-item(ng-show='!pendings.length')
            h4 No tienes asuntos pendientes

  md-divider
  div
    md-grid-list(
      md-gutter="12px",
      md-gutter-gt-sm="8px",
      md-cols="4",
      md-row-height="1:1")
      md-grid-tile.whitebg(
        layout='column',
        ng-repeat="entry in entries",
        md-rowspan="{{ entry.row }}",
        md-colspan="{{ entry.col }}")
        em-card(card='entry')
