md-toolbar.md-padding.lightBlue(layout='row')
  div(flex='66')
    h2 EMEETER
    //timer(interval='1000') {{hours}} hour{{hoursS}}, {{minutes}} minute{{minutesS}}, {{seconds}} second{{secondsS}}
    div
      creator(ng-if='session.user')
  
  main-notification(ng-if='session.user' )
   
md-content.darkGray(ng-show='session.user')

  div#maincontiner(layout-padding, layout='row', style='padding-right: 0;')
    div(flex='60', em-graph, style='background: #fff;')

    md-content.bluebg(flex='40', style="height: 230px; font-size: small; color: #fff;")
      md-list
        md-subheader.md-no-sticky(style='background: transparent; color: white; text-transform: uppercase; font-weight: 300; font-size: large;')
          div(flex, layout="row" layout-align="space-between center")
            | Pendientes
            div
              | Hoy
              md-icon.icon20(md-font-icon='material-icons', style='color: white;') chevron_right
        md-list-item(ng-repeat='pending in pendings | limitTo:5')
          md-icon.icon20(md-font-icon='material-icons', style='color: white;') star_half
          p {{ pending.title }} - {{ pending.description }}
          md-checkbox(style="border-color: #fff;", ng-click='gotIt(pending)')
          md-icon.icon20(md-font-icon='material-icons', style='color: white;') av_timer

        md-list-item(ng-show='!pendings.length')
          h4 No tienes asuntos pendientes

  div(layout-padding, style='padding-top: 0;')
    md-grid-list(
      md-gutter="12px",
      md-gutter-gt-sm="8px",
      md-cols-sm="1",
      md-cols-md="2",
      md-cols-gt-lg="4",
      md-row-height="1:1")
      md-grid-tile.whitebg(
        layout='column',
        ng-repeat="entry in entries | orderBy: '-created'",
        md-rowspan="{{ entry.row }}",
        md-colspan="{{ entry.col }}")
        em-card(card='entry')
