md-toolbar.md-padding.lightBlue(layout='row' layout-align='start end')
  md-button(ng-href='/')
    h2 EMEETER

md-content.white(layout-padding, ng-show='session.user')
  
  div(layout='row')
    div(flex='70')
      img(ng-src="../assets/images/analitycs.png")
          
    div.blueGray(flex='30', layout-padding)
      div(layout-padding)
        h3.md-title PENDIENTES
        
        md-list
          md-list-item(ng-repeat='pending in pendings | limitTo:3')
            div.md-list-item-text(flex='80')
              h4 {{ pending.title }}
              p {{ pending.description }}
            md-checkbox(flex, ng-click='gotIt(pending)')
          
          md-list-item(ng-show='!pendings.length')
            h4 No tienes asuntos pendientes

  div
    md-grid-list(
        md-gutter="12px" md-gutter-gt-sm="8px"
        md-cols="4"
        md-row-height="1:1") 
        
      md-grid-tile(
        layout='column'
        ng-repeat="entry in entries"
        md-rowspan="{{ entry.row }}"
        md-colspan="{{ entry.col }}"
        ng-class="entry.background")
        
        div.shine
        
        span
          md-icon.icon48(md-font-icon='material-icons' style="color:{{entry.icon.color}};" ) {{ entry.icon.icon }}z
          h4 {{ entry.span }}
          p {{ entry.created | fromNow}}
        
        md-grid-tile-footer
          h3 {{ entry.type === "entry" && entry.title + " : " +  entry.content || entry.type === "group" && entry.admin.email + " ha creado un nuevo grupo" || entry.type == "task" && entry.objective || entry.author + " ha modificado una tarea" }}
    
    
