md-toolbar.md-padding.lightBlue(layout='row' layout-align='start end')
  div
    h2 {{ session.group.profile.name }}   
    
    div(layout='row')
      md-button.md-fab.md-warn(ng-href='/groups/{{session.group._id}}/profile')
        md-icon(md-font-icon='material-icons') chevron_left
        
      group-items 
        
md-content.md-padding
  form(
    ng-submit='form.$valid && submit()'
    name='form'
    role='form'
    novalidate)

    md-input-container.form-group
      label Titulo
      input.form-control(
        ng-model='data.title'
        required)
    
    div(layout='row')  
      h4 Tags
        
      md-button.md-raised(ng-repeat='tag in data.tags' type='button') {{ tag }}
        md-icon(md-font-icon='material-icons' ng-click='removeTag(tag)') close
        
    md-divider
      
    md-autocomplete(
      md-selected-item-change="selectedTagChange(tag.name)"
      placeholder='Agrega tags al documento'
      md-items='tag in searchTags(text)'
      md-selected-item='selectedTag'
      md-search-text='text'
      md-no-cache='true'
      md-delay='100')
      md-item-template
        span {{ tag.name }}    
        
    md-button(
      ngf-accept='filesSupported'
      ng-disabled='submitting'
      ngf-multiple='true'
      ng-model='files'
      ngf-keep='true'
      ngf-select)
      
      md-icon(md-font-icon='material-icons') file_upload
      | Agregar archivos                 
                          
    div(layout='row')
      md-button(ng-href='/groups/{{session.group._id}}/profile')
        md-icon(md-font-icon='material-icons') chevron_left
        | Cancelar

      md-button(
        ng-disabled='!files.length || form.$invalid || submitting'
        type='submit')
        | Crear
        
        md-icon(md-font-icon='material-icons') chevron_right
        
    div.form-group(ng-repeat='file in files')
      md-icon(md-font-icon='material-icons') insert_drive_file
      | {{ file.name }}
      
      md-button(
        type='button'
        ng-click='discard($index)'
        ng-disabled='submitting')
        md-icon(md-font-icon='material-icons') close
