md-toolbar.md-padding.lightBlue(layout='row' layout-align='start end')
  div
    h2 {{ session.group.profile.name }}   
    
    div(layout='row')
      md-button.md-fab.md-warn(ng-href='/groups/{{session.group._id}}/profile')
        md-icon(md-font-icon='material-icons') chevron_left
        
      group-items 
        
md-content.md-padding  
  form(
    ng-submit='form.$valid && submit()'
    name='form'
    role='form'
    novalidate)

    md-input-container.form-group
      label Agrega un título opcional...
      input.form-control(
        ng-model='data.title')
    
    md-input-container.form-group
      label Nota...
      textarea.form-control(
        ng-model='data.content'
        required)
  
    div(layout='row')
      md-button(ng-href='/groups/{{session.group._id}}/profile')
        md-icon(md-font-icon='material-icons') chevron_left
        | Cancelar

      md-button(s
        ng-disabled='form.$invalid || submitting'
        type='submit')
        | Crear
        
        md-icon(md-font-icon='material-icons') chevron_right
