md-toolbar.md-padding.lightBlue(layout='row' layout-align='start end')
  div
    h2 {{ session.group.profile.name }}   
    
    div(layout='row')
      md-button.md-fab.md-warn(ng-href='/groups/{{session.group._id}}/profile')
        md-icon(md-font-icon='material-icons') chevron_left
        
      group-items 
        
md-content.md-padding  
  form(
    ng-submit='form.$valid && submit()'
    name='form'
    role='form'
    novalidate)

    md-input-container.form-group
      label Agrega un título opcional...
      input.form-control(
        ng-model='data.title')
    
    md-input-container.form-group
      label Nota...
      textarea.form-control(
        ng-model='data.content'
        required)
        
    div(layout='row')  
      h4 Tags
        
      md-button.md-raised(ng-repeat='tag in data.tags' type='button') {{ tag }}
        md-icon(md-font-icon='material-icons' ng-click='removeTag(tag)') close
        
    md-divider
      
    md-autocomplete(
      md-selected-item-change="selectedTagChange(tag.name)"
      placeholder='Agrega tags a la nota'
      md-items='tag in searchTags(text)'
      md-selected-item='selectedTag'
      md-search-text='text')  
      md-item-template
        span {{ tag.name }}
      
    div(layout='row')
      md-button(ng-href='/groups/{{session.group._id}}/profile')
        md-icon(md-font-icon='material-icons') chevron_left
        | Cancelar

      md-button(s
        ng-disabled='form.$invalid || submitting'
        type='submit')
        | Crear
        
        md-icon(md-font-icon='material-icons') chevron_right
