md-toolbar.md-padding.lightBlue(layout='row' layout-align='start end')
  md-button(ng-href='/')
    h2 EMEETER
        md-icon(md-font-icon='material-icons') edit 
    
        form(
          ng-submit='form.$valid && submit()',
          name='form',
          role='form',
          novalidate)

          md-input-container.form-group
            label Título
            input.form-control(
              ng-model='data.title'
              required)
          
          md-input-container.form-group
            label Contenido
            textarea.form-control(
              ng-model='data.content'
              required)
              
          div(layout='row')  
            h4 Tags
              
            md-button.md-raised(ng-repeat='tag in data.tags' type='button') {{ tag }}
              md-icon(md-font-icon='material-icons' ng-click='removeTag(tag)') close
              
          md-divider
            
          div.panel-footer.text-right
            div.btn-group-grid
              a.md-button(ng-href='/entries')
                md-icon(md-font-icon='material-icons') chevron_left
                | Cancelar

              md-button(
                ng-disabled='form.$invalid',
                type='submit')

                md-icon(md-font-icon='material-icons') check
                | Crear entrada
