md-progress-circular(ng-show='fetchingContacts || fetchingPending || inviting || confirming || deleting || adding' md-mode='indeterminate') 
  
md-content.md-padding(ng-show='!fetchingContacts && contacts')
  md-input-container
    label Busca un Contacto
    input.form-control(
      ng-model='searchContact'
      ng-change='resetFound()')
      
  md-button(
    ng-click='search()'
    ng-show='!fetchingContacts && searchContact.length && !filteredContacts.length')
    | Buscar en eMeeter
       
  div(ng-show='!fetchingPending && pendings.length')
    h4
      md-icon(md-font-icon='material-icons' ) add
      | Solicitudes de contacto
              

  md-list-item(ng-repeat='pending in pendings')
    p {{ pending.sender.profile.name || pending.sender.email }}
    div
      md-button(ng-click='confirm(pending.token)' ng-disabled='confirming || deleting') Confirmar
      md-button(ng-click='delete(pending.sender._id)' ng-disabled='confirming || deleting') Rechazar        

  div(ng-show='!fetchingContacts && contacts')
    h4
      md-icon(md-font-icon='material-icons' ) radio_button_unchecked
      | {{ contacts.length && "Contactos" || "No hay Contactos" }}

  md-grid-list(
    md-gutter="12px" md-gutter-gt-sm="8px"
    md-cols="4"
    md-row-height="1:1")
    
    md-grid-tile(
      md-rowspan="1"
      md-colspan="1"
      ng-repeat='contact in filteredContacts = (contacts | filter: searchContact)')
        p {{ contact.user.profile.name || contact.user.email }}
        md-button(ng-click='delete(contact.user._id)' ng-disabled='confirming || deleting')
          md-icon(md-font-icon='material-icons' ) close
          |  Eliminar
        
  md-button(ng-show='foundUser' ng-click='add(foundUser._id)' ng-disabled='adding')
    p {{ foundUser.email }}
    md-icon(md-font-icon='material-icons' ) add
    | Agregar
  
  md-button(ng-disabled='inviting' ng-show='notFoundUser' ng-click='inviteNotFound()')
    p {{ notFoundUser }}
    md-icon(md-font-icon='material-icons' ) add
    | Invitar a emeeter          
            
  div(ng-show='foundPendingUser')
    p {{ foundPendingUser.email }}
    md-icon(md-font-icon='material-icons' ) access_time
    | Esperando confirmación      
