md-toolbar.md-padding.lightBlue(layout='row' layout-align='start end')
  div
    h2 {{ session.group.profile.name }} : ENTRADAS

md-content
  div(layout='row')
    md-button.md-fab.md-warn(ng-href='/groups/{{session.group._id}}/entries/notes')
      md-icon(md-font-icon='material-icons') chevron_left
    
  form(
    ng-submit='form.$valid && submit()'
    name='form'
    role='form'
    novalidate)

    md-input-container.form-group
      label Titulo
      input.form-control(
        ng-model='data.title'
        required)
    
    md-input-container.form-group
      label Contenido
      textarea.form-control(
        ng-model='data.content'
        required)
        
    md-autocomplete(
      md-items="tag in tagSearch(searchTag)"
      md-selected-item="selectedTag"
      md-search-text="searchTag"
      md-selected-item-change=""
      md-search-text-change=""
      ng-disabled="isDisabled"
      md-item-text="tag.name"
      md-no-cache="noCache"
      placeholder="Tags"
      md-min-length="0")
    
      md-item-template
        span.item-title
          md-icon(md-font-icon='material-icons') label
          span {{tag.name}} 

  
    div(layout='row')
      md-button(ng-href='/groups/{{session.group._id}}/profile')
        md-icon(md-font-icon='material-icons') chevron_left
        | Cancelar

      md-button(
        ng-disabled='form.$invalid'
        type='submit')
        | Crear
        
        md-icon(md-font-icon='material-icons') chevron_right
